@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    /* fonts */
    --font1: 'Inter', sans-serif;
    --font2: 'Lexend Deca', sans-serif;
    /* colors */
    --mainbackground: hsl(233, 47%, 7%);
    --cardbackground: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --mainheadingstats: hsl(0, 0%, 100%);
    --mainparagraph: hsla(0, 0%, 100%, 0.75);
    --headings: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}